body {
    background-color: hsl(233, 47%, 7%);
}

a {
    text-decoration: none;
}

a:hover {
    color: hsla(0, 0%, 100%, 0.75);
}

img {
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

#container {
    margin: 100px auto;
    display:flex;
    width: 90%;
    height: 400px;
}

.main-image-div {
    width: 55%;
    background: hsl(277, 64%, 61%);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.main-text-div {
    width: 45%;
    text-align: left;
    background-color: hsl(244, 38%, 16%);
    padding: 5% 10%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}


.main-head {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.main-head-emph {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color:hsl(277, 64%, 61%);
}

.main-p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: left;

}

.describer {
    display: inline-block;
    padding: 20px 40px 20px 0;
}

.describer-header {
    font-family: 'Lexend Deca', sans-serif;
    color:hsl(0, 0%, 100%);
    margin-bottom: 6px;
}

.describer-p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 6px;
}

#attribution {
    text-align: center;
    color: hsl(0, 0%, 100%);

}